### Project Requirements
ðŸ” Data Focus â€“ Analyze Google search query data to understand user behavior and trends.

ðŸ Python Implementation â€“ Use Python to process and explore search data effectively.

ðŸ“Š Insight Generation â€“ Extract meaningful insights from queries to highlight what people are searching for.

In [13]:
pip install pytrends

Requirement already satisfied: pytrends in /usr/local/lib/python3.12/dist-packages (4.9.2)
Requirement already satisfied: requests>=2.0 in /usr/local/lib/python3.12/dist-packages (from pytrends) (2.32.4)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.12/dist-packages (from pytrends) (2.2.2)
Requirement already satisfied: lxml in /usr/local/lib/python3.12/dist-packages (from pytrends) (6.0.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.25->pytrends) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.25->pytrends) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.25->pytrends) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.25->pytrends) (2025.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0->pytrends) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0->pytrends) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0->pytrends) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0->pytrends) (2026.1.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25->pytrends) (1.17.0)

In [14]:
import pandas as pd
from pytrends.request import TrendReq
import matplotlib.pyplot as plt
import time

Trending_topics = TrendReq(hl='en-US', tz=360)

In [15]:
kw_list=["Data Science"]
Trending_topics.build_payload(kw_list,cat=0, timeframe='today 12-m')
time.sleep(5)

In [16]:
data = Trending_topics.interest_over_time()
display(data.head())

/usr/local/lib/python3.12/dist-packages/pytrends/request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)

            Data Science  isPartial
date
2025-01-26            43      False
2025-02-02            41      False
2025-02-09            41      False
2025-02-16            43      False
2025-02-23            40      False

This table shows the search interest for 'Data Science' over time. The values are on a scale from 0 to 100, where 100 is the peak popularity for the term. A value of 0 means there was not enough data for this term.

Now, let's explore related queries and topics to understand what other terms people are searching for in relation to 'Data Science'.

In [17]:
import time

try:
    time.sleep(10) # Add a delay to avoid TooManyRequestsError
    related_queries = Trending_topics.related_queries()
    keyword = kw_list[0] # Assuming only one keyword in kw_list
    if keyword in related_queries:
        if 'top' in related_queries[keyword] and not related_queries[keyword]['top'].empty:
            print("Top related queries:")
            display(related_queries[keyword]['top'])
        else:
            print("No top related queries found for this keyword.")

        if 'rising' in related_queries[keyword] and not related_queries[keyword]['rising'].empty:
            print("\nRising related queries:")
            display(related_queries[keyword]['rising'])
        else:
            print("No rising related queries found for this keyword.")
    else:
        print(f"No related queries data found for '{keyword}'.")

except Exception as e:
    print(f"An error occurred while fetching related queries: {e}")

Top related queries:

                         query  value
0            data science news    100
1         what is data science     67
2          data science course     51
3             computer science     50
4          data science and ai     45
5           science news today     42
6            data science jobs     35
7               data analytics     33
8          master data science     32
9          data science salary     29
10                      python     29
11            data science job     28
12         python data science     28
13            machine learning     26
14            msc data science     25
15        data science masters     24
16                     ai news     24
17        data science courses     22
18         data science degree     19
19      master of data science     18
20     data science definition     17
21   data science for business     16
22  data science and analytics     16
23     python for data science     15
24      master in data science     14

Rising related queries:

                                  query  value
0                         ai news today  56550
1                      apple news today  42700
2                     openai news today  39550
3                 technology news today  39250
4                     travel news today  36800
5                           openai news  35650
6                    science news today  35050
7                     data breach today  25200
8                      data center news  21250
9                data breach news today  20750
10                          nvidia news  16400
11                       anthropic news  14000
12             cybersecurity news today  11750
13                     data breach news  10750
14                              ai news   8200
15  code with harry data science course   6550
16                    data science news   3250
17              data science definition    200
18                  data science and ai    180
19            data science for business    150
20                     msc data science     70
21               master of data science     60
22               master in data science     40

The 'top' related queries show the most popular search terms related to 'Data Science', ranked by search volume. The 'rising' queries indicate terms that have had the most significant growth in search volume over the specified period, often reflecting emerging trends or increasing interest.

Let's also look at related topics.

In [18]:
import time

try:
    time.sleep(10) # Add a delay to avoid TooManyRequestsError
    related_topics = Trending_topics.related_topics()
    keyword = kw_list[0] # Assuming only one keyword in kw_list
    if keyword in related_topics:
        # Display 'top' related topics
        if 'top' in related_topics[keyword] and not related_topics[keyword]['top'].empty:
            print("Top related topics:")
            display(related_topics[keyword]['top'])
        else:
            print("No top related topics found for this keyword.")

        # Display 'rising' related topics
        if 'rising' in related_topics[keyword] and not related_topics[keyword]['rising'].empty:
            print("\nRising related topics:")
            display(related_topics[keyword]['rising'])
        else:
            print("No rising related topics found for this keyword.")
    else:
        print(f"No related topics data found for '{keyword}'.")
except Exception as e:
    print(f"An error occurred while fetching related topics: {e}")

An error occurred while fetching related topics: list index out of range

Similar to related queries, 'top' related topics show the most popular concepts and entities related to 'Data Science', while 'rising' related topics highlight those with significant recent growth in interest.